body{
    padding-top:2%;
  }

#panel_body_container{
    min-height: 600px;
}

.btn-search {
    background: #d4a857;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f7f0dc;
}

.btn-search:hover {
    color: #fff;
}